<p><%= @user.name %></p>

<% if @user == current_user %>
  <%= form_with model: Task.new, local: true do |f| %>
    <%= f.text_field :name, required: true %>
    <%= f.submit '作成' %>
  <% end %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag "finished#{task.id}", true, task.finished, data: { id: task.id }, disabled: (@user != current_user) %>
      <%= label_tag "finished#{task.id}", task.name %>
    </li>
  <% end %>
</ul>

<%= link_to 'ログアウト', logout_path, method: :delete %>

<% if @user == current_user %>
  <script>
    $(document).ready(function(){
      $('#task_name').focus();
    });

    $('input[type="checkbox"]').change(function() {
      $.ajax('/tasks/' + $(this).data('id'),
        {
          type: 'patch',
          data: {
            task: {
              finished: $(this).prop('checked')
            }
          },
          dataType: 'json'
        }
      )
    });
  </script>
<% end %>

<style>
  li {
    list-style: none;
  }

  :checked + label {
    color: gray;
    text-decoration: line-through;
  }
</style>