<%= form_with model: @user, url: signup_path do |f| %>
  <p>
    <%= f.label :name, 'お名前' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password, 'パスワード' %>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.text_field :password_confirmation %>
  </p>

  <p><%= f.submit '送信' %></p>
<% end %>